<link rel="import" href="/bower_components/polymer/polymer.html">
<link rel="import" href="/bower_components/iron-flex-layout/iron-flex-layout-classes.html">
<link rel="import" href="/src/card/todo-card.html">

<dom-module id="todo-list">

  <template>
    <style include="iron-flex iron-flex-alignment">
      :host {
        display: block;
        padding: 10px;
        max-width: 976px;
        margin-left: auto;
        margin-right: auto;
      }
    </style>

    <template class="layout vertical" is="dom-repeat" items="{{todos}}">
      <todo-card
        heading="{{item.heading}}"
        content="{{item.content}}"
        todoid={{index}}>
      </todo-card>
    </template>

  </template>
  <script type="text/javascript" src="todo-list.js"></script>

</dom-module>
