<link rel="import" href="/bower_components/polymer/polymer.html">
<link rel="import" href="/bower_components/iron-flex-layout/iron-flex-layout-classes.html">
<link rel="import" href="/src/card/todo-card.html">

<dom-module id="todo-list">

  <template>
    <style include="iron-flex iron-flex-alignment">
      :host {
        display: block;
        padding: 10px;
      }
    </style>

    <div class="layout vertical">
      <todo-card></todo-card>
    </div>

  </template>
  <script type="text/javascript" src="todo-list.js"></script>

</dom-module>
